/OlaMundo/nbproject/private/
/OlaMundo/build/
/Aula02/nbproject/private/
/Aula02/build/
/Aula03/nbproject/private/
/Aula03/build/
/Aula04/nbproject/private/
/Aula04/build/
/Aula04/dist/
/ExercicioAula05/nbproject/private/
/ExercicioAula05/build/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundo JavaFx/nbproject/private/
/OlaMundo JavaFx/build/
/OlaMundo JavaFx/dist/
/HelloWord/nbproject/private/
/HelloWord/build/
/HelloWord/dist/
/Eco/nbproject/private/
/Eco/build/
/PrecisaoByte/nbproject/private/
/PrecisaoByte/build/
/precisaoFloat/nbproject/private/
/precisaoFloat/build/
/CharTEste/nbproject/private/
/CharTEste/build/
/testeInvalido/nbproject/private/
/variavel/nbproject/private/
/testeInvalido/build/
/testaVisibilidade/nbproject/private/
/testaVisibilidade/build/
/testaConversoes/nbproject/private/
/testaConversoes/build/
/testaConversoes2/nbproject/private/
/testaConversoes2/build/
/testaConversoes3/nbproject/private/
